@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Ocean Light */
		--background: 220 23% 95%;
		--foreground: 209 13% 35%;
		--muted: 220 12% 90%;
		--muted-foreground: 220 12% 30%;
		--popover: 220 23% 92%;
		--popover-foreground: 209 13% 25%;
		--card: 220 23% 93%;
		--card-foreground: 209 13% 30%;
		--border: 220 13% 90%;
		--input: 220 13% 87%;
		--primary: 93 27% 38%;
		--primary-foreground: 0 0% 100%;
		--secondary: 93 17% 75%;
		--secondary-foreground: 93 17% 15%;
		--accent: 220 23% 80%;
		--accent-foreground: 220 23% 20%;
		--destructive: 8 86% 39%;
		--destructive-foreground: 8 86% 99%;
		--ring: 93 27% 38%;
		--radius: 0.3rem;
	}

	.dark {
		/* Tokyo Night */
		--background: 235 19% 13%;
		--foreground: 229 35% 75%;
		--muted: 235 12% 17%;
		--muted-foreground: 235 12% 67%;
		--popover: 235 19% 10%;
		--popover-foreground: 229 35% 85%;
		--card: 235 19% 11%;
		--card-foreground: 229 35% 80%;
		--border: 235 9% 18%;
		--input: 235 9% 21%;
		--primary: 223 45% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 223 30% 75%;
		--secondary-foreground: 223 30% 15%;
		--accent: 235 19% 28%;
		--accent-foreground: 235 19% 88%;
		--destructive: 9 82% 45%;
		--destructive-foreground: 0 0% 100%;
		--ring: 223 45% 44%;
	}
}

@layer base {
	/* inter-latin-wght-normal */
	@font-face {
		font-family: 'Inter Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 100 900;
		src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
			format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
